version: "3.9"

services:
  db:
    image: postgres:15
    container_name: wallet_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: wallet
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/db/migrations:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: wallet_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DB_USER=admin
      - DB_PASSWORD=admin
      - DB_NAME=wallet
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db

volumes:
  postgres_data:
